* {
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}

html, body {
    overflow-y: hidden;
}

body {
    --bold: 700;
    font-family: 'Roboto Slab', serif;
    --font: 'Roboto Slab', serif;
    --complete: rgb(140 201 60);
    --incomplete:rgb(214, 76, 76);
    --mainColor: #98c8cb;
    --hoverColor: #65a5a9;
    --disabled: #d4d4d4;
}

.default {
    --secondColor: rgb(255, 255, 255);  
    --rightSideBg: #f5f5f5;
    --text: #000;
    --boxShadow: rgb(215 215 215);
    --inputColor: #000;
}

.night {
    --secondColor: rgb(46, 46, 52); 
    --rightSideBg: rgb(70, 70, 74);
    --text: #98c8cb;
    --boxShadow: rgb(40 40 40);
    --inputColor: #dfdfdf;
}

.blurBg {
    --blur: blur(10px);
    position: absolute;
    top:0px;
    left:0px;
    width: 100%;
    height: 100vh;
    backdrop-filter: var(--blur);
    -webkit-backdrop-filter: var(--blur);
    -moz-backdrop-filter: var(--blur);
    z-index: 10;
}

.newProjectPopup {
    --height: 300px;
    --width: 500px;
    position: absolute;
    z-index: 11;
    padding:1em;
    background-color: var(--secondColor);
    box-shadow: 2px 2px 8px var(--boxShadow);
    height: var(--height);
    width: var(--width);
    top:-50vh;
    left: calc(50% - var(--width) / 2);
    border-radius: 10px;
    transition: all .4s ease-out;
}

.slideDown {
    --height: 300px;
    --width: 500px;
    top: calc(50% - var(--height) / 2);
}

/* new project popup grid  */

.newProjectPopGrid {
    height:100%;
}

.newProjectPopGrid form {
    height: 85%;
} 

.newProjectPopGrid fieldset {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr 1fr;
    height: 100%;
    align-items: end;
}

.newProjectPopGrid fieldset div:first-child {
    grid-column: 1 / 4;
}

.newProjectPopGrid fieldset div:last-child {
    grid-column: 1 / 5;
}

.newProjectPopGrid fieldset div:nth-child(3),
.newProjectPopGrid fieldset div:nth-child(4) {
    display: grid;
    grid-row: 2 / 3;
    justify-content: center;
    align-items: center;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
}

.newProjectPopGrid fieldset div:nth-child(3) {
    grid-column: 1 / 3;
}

.newProjectPopGrid fieldset div:nth-child(4) {
    grid-column: 3 / 5;
}

/* new project divs  */
.newProjectPopGrid .newProjTitle {
    font-size: 1.5rem;
    font-weight: var(--bold);
    color:var(--mainColor);
}

.newProjectPopup fieldset {
    border:0px;
}

.newProjectPopGrid fieldset > div {
    padding:.5em;
}

/* fieldset first div  */
.newProjectPopGrid fieldset > div:first-child label {
    font-size: .8rem;
    color: var(--text);
}

.newProjectPopGrid fieldset div:first-child input {
    width: 90%;
    padding:.5em;
    margin: .5em 0px;
    border:0px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    border-bottom: 1px solid var(--mainColor);
    background-color: var(--rightSideBg);
    font-family: var(--font);
    color: var(--inputColor);
}

.newProjectPopGrid fieldset div:first-child input:focus {
    outline:none;
}

/* fieldset second div  */
.newProjectPopGrid fieldset > div:nth-child(2) {
    display: grid;
    align-items: center;
}

.newProjectPopGrid fieldset > div:nth-child(2)::before {
    content: 'Priority';
    display: block;
    font-size: .8rem;
    color: var(--text);
}

.newProjectPopGrid fieldset > div:nth-child(2) select {
    border:0px;
    border-bottom: 1px solid var(--mainColor);
    padding:.4em .2em;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    background-color: var(--rightSideBg);
    color: var(--inputColor);
    margin: 0.5em 0px;
}

.newProjectPopGrid fieldset > div:nth-child(2) select:focus {
    outline: none;
}

/* fieldset 3rd & 4th div  */
.newProjectPopGrid fieldset div:nth-child(3)::before {
    content: 'Start Date';
}

.newProjectPopGrid fieldset div:nth-child(4)::before {
    content: 'End Date';
}
.newProjectPopGrid fieldset div:nth-child(3)::before,
.newProjectPopGrid fieldset div:nth-child(4)::before {
    display: block;
    font-size: .8rem;
    color: var(--text);
}

.newProjectPopGrid fieldset div:nth-child(3) input,
.newProjectPopGrid fieldset div:nth-child(4) input {
    border:0px;
    font-family: var(--font);
    cursor: pointer;
    border-bottom: 1px solid var(--mainColor);
    padding: 0.3em;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    background-color: var(--rightSideBg);
    color: var(--inputColor);
    width: 100%;
    height: 35px;
}

.newProjectPopGrid fieldset div:nth-child(3) input:focus,
.newProjectPopGrid fieldset div:nth-child(4) input:focus {
    outline: none;
}

.createProjectButton {
    width: 100%;
    padding: .5em;
    border:none;
    cursor: pointer;
    display: grid;
    justify-items: center;
    align-items: center;
}


.createProjectButton button {
    background-color: var(--mainColor);
    padding:.5em;
    font-size: 1rem;
    font-family: var(--font);
    font-weight: var(--bold);
    color:var(--secondColor);
    border-radius: 10px;
    transition: all .2s ease-in;
}

.createProjectButton button:disabled {
    background-color: var(--disabled);
}

.createProjectButton button:hover:disabled {
    background-color: var(--disabled);
}

.createProjectButton button:hover {
    background-color: var(--hoverColor);
}

/* begin wrapper  */
/*  */
/*  */
/*  */
.wrapper {
    height:100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 340px 1fr;
    grid-template-rows: 70px 1fr;
    position: relative;
    overflow-y: hidden;

}

.wrapper .topBar,
.wrapper .rightBody {
    padding:1em;
}

.topBar {
    grid-column: 1 / 3;
    background-color: var(--mainColor);
    box-shadow: 0px -2px 8px var(--boxShadow);
    position: relative;
    z-index: 5;
    color:var(--secondColor);
    display: grid;
    align-content: center;
    align-items: center;
    column-gap:10px;
    grid-template-columns: 40px 1fr 1fr;;
}


.topBar > span.material-symbols-outlined {
    font-size: 2.5rem;
}

.themeWrapper {
    display: grid;
    justify-items: end;
    padding:0px 1em 0px 0px;
    cursor: pointer;

}

.themeSwitch {
    border:1px solid var(--rightSideBg);
    height: 25px;
    width: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-radius: 15px;
    position: relative;
}

.themeSwitch span {
    display: block;
    font-size: 1.2rem;
}

.themeButton {
    --dim: 25px;
    height: var(--dim);
    width: var(--dim);
    border-radius: calc(var(--dim) / 2);
    background-color: var(--secondColor);
    position: absolute;
    left:0px;
    transition: all .2s linear;
}

.left {
    left: 35px;
}

/* sidebar */

.sideBar {
    background: var(--secondColor);
    display: grid;
    grid-auto-flow: row;
    grid-template-rows: 5fr 1fr;
    overflow-y: hidden;
}

.listWrapper {
    overflow-y: scroll;
    margin:1em 0px 0px 0px;
    position: relative;
    width: 100%;
}

.listWrapper > div {
    display: block;
    cursor: pointer;
    margin: .5em 0px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: end;
}


.listWrapper span {
    display: block;
    margin:0px 0px 0px .5em;
    padding:.6em 0px;
    color: var(--text);
}

.listWrapper > div::after {
    content: '';
    display: block;
    width:0%;
    height:2px;
    background-color: var(--mainColor);
    position: absolute;
    transition: all .3s linear;
}

.listWrapper > div:hover::after,
.listWrapper > div.active::after {
    width:100%;
}

.listWrapper > div:hover {
    background-color: var(--rightSideBg);
    color:#000;
}

.listWrapper .active {
    background-color: var(--rightSideBg);
    color:#000;
}

.listWrapper > div > div {
    height: 100%;
    display: grid;
    justify-items: end;
    align-items: center;
    padding:0px .5em 0px 0px;
}

.listWrapper > div > div > div {
    --dim: 25px;
    width: var(--dim);
    height: var(--dim);
    border-radius: 12px;
    background-color: var(--mainColor);
    display: grid;
    justify-items: center;
    align-items: center;
    color:var(--secondColor);
}

.newProjectButton {
    width: 100%;
    display: flex;
    justify-content: center;
}

.newProjectButton button {
    width: 90%;
    background-color: var(--mainColor);
    cursor: pointer;
    padding:.5em;
    border:none;
    border-radius: 20px;
    color:var(--secondColor);
    font-weight: var(--bold);
    font-family: var(--font);
    font-size: 1rem;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-auto-flow: column;
    column-gap: 5px;
    transition: all .2s ease-out;
}

.newProjectButton button:hover {
    background-color: var(--hoverColor);
}

.newProjectButton button:focus {
    outline: none;
}

/* right side */
/*  */
/*  */
/*  */
.rightBody {
    background-color: var(--rightSideBg);
    height: 100%;
    overflow-y: scroll;
}

.projNodeWrapper {
    width: 100%;
    background-color:var(--secondColor);
    box-shadow: 1px 1px 2px var(--boxShadow);
    margin:1em 0px;
    display: grid;
    grid-template-columns: 2px 1fr 2fr 1fr;
    grid-template-rows: 35px 55px 1fr;
    gap:9px;
}

.projNodeWrapper > div {
    padding:.2em;
}

.projNodeWrapper > div:first-child {
    padding:0px;
}

/* project priority div */
.projPriorityColor {
    height:100%;
    width:100%;
    grid-row: 1 / 4;
    grid-column: 1 / 2;
}

.Low {
    background-color: rgb(63, 195, 78);
}

.Medium {
    background-color: rgb(236, 220, 40);
}

.High {
    background-color: rgb(225, 66, 66);
}

/* project name div */
.projName {
    grid-row: 1 / 2;
    grid-column: 2 / 4;
    font-size: 1.2rem;
    font-weight: var(--bold);
    margin:.2em 0px 0px 0px;
    color: var(--text);
}

/* proj complete button  */
.projCompleteDiv {
    grid-row: 1 / 2;
    grid-column: 4 / 5;
    margin: 0.2em 0px 0px 0px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    position: relative;
}

.projCompleteDiv input.markComplete {
    --width: 100px;
    --height: 25px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    width: var(--width);
    height:var(--height);
    padding:.3em .5em;
    border:2px solid var(--incomplete);
    border-radius: 15px;
    position: absolute;
    z-index: 5;
    cursor: pointer;
}

.projCompleteDiv input.markComplete:checked {
    border:2px solid var(--complete);
}

.projCompleteDiv label {
    --width: 100px;
    --height: 25px;
    color: var(--incomplete);
    font-size: .8rem;
    display: flex;
    width: var(--width);
    height:var(--height);
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.projCompleteDiv input.markComplete:checked ~ label {
    color: var(--complete)
}


/* project editor  */
.projEditorWrapper {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    justify-content: flex-end;
    display: flex;
    align-items: flex-end;
    column-gap: 0.3em;
    margin: 0px 0.3em 0px 0px;
}

.projNodeWrapper:hover .projEditorWrapper {
    display: flex;
}

.projEditorWrapper > div {
    cursor: pointer;
    font-size: 1.1rem;
    color: #bbb;
    padding: 0.1em 0.1em;
}

/* proj start div  */
.projStartDiv {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    color: var(--text);
}

.projStartDiv::before {
    content: 'Start Date';
    display: block;
    color:rgb(170, 170, 170);
    font-size: .8rem;
}

.projStartDiv::before,
.projEndDiv::before  {
    display: block;
    color:rgb(170, 170, 170);
    font-size: .8rem;
}

/* proj end div  */
.projEndDiv {
    grid-row: 2 / 3;
    grid-column: 3 / 4;
    color: var(--text);
}

.projEndDiv::before {
    content: 'End Date';
}

/* days left div */
.daysLeftDiv {
    grid-row: 2 / 3;
    grid-column: 4 / 5;
    display: grid;
    justify-items: end;
    font-size:1.5rem;
    margin: 0px 0.2em 0px 0px;
    color: var(--text);
}

.daysLeftDiv::before {
    content: 'Days Left';
    display: block;
    color:rgb(170, 170, 170);
    font-size: .8rem;
}

/* new task div  */
.newTaskWrapper {
    grid-column: 2 / 5;
    grid-row: 3 / 4;
    display: grid;
    align-items: center;
    padding:0px 0px .5em 0px!important;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 40px;
}

.newTaskDiv {
    cursor: pointer;
    font-size: .8rem;
    background-color: var(--mainColor);
    color: var(--secondColor);
    display: flex;
    padding:.5em;
    width: 100px;
    justify-content: center;
    transition: all .2s ease-in;
    grid-column: 1 / 2;
}

.newTaskDiv:hover {
    background-color: var(--hoverColor);
}

.newTaskPopup {
    --width: 40vw;
    --height: 305px;
    z-index: 12;
    width: var(--width);
    height: var(--height);
    position: absolute;
    top: -50vh;
    left: calc(50% - var(--width) / 2);
    background-color:var(--secondColor);
    padding:1em;
    border-radius: 10px;
    box-shadow: 2px 2px 8px var(--boxShadow);
    transition: all .4s ease-out;
}

.slideDownTask {
    --width: 40vw;
    --height: 305px;
    top: calc(50% - var(--height) / 2);
}

.newTaskPopup > div:first-child {
    font-size: 1.2rem;
    font-weight: var(--bold);
    color: var(--mainColor);
    padding:0px 0px .5em 0px;
}

.newTaskPopup fieldset {
    border:0px;
    display:grid;
    align-items: center;
    row-gap: 10px;
}

.newTaskPopup fieldset label {
    font-size: .8rem;
    color: var(--text);
}

.newTaskPopup fieldset > div {
    display:grid;
}

.newTaskPopup fieldset input {
    width: 100%;
    padding:.5em;
    margin: .5em 0px;
    border:0px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    border-bottom: 1px solid var(--mainColor);
    background-color: var(--rightSideBg);
    font-family: var(--font);
    color: var(--inputColor);
}

.newTaskPopup fieldset input:focus,
.newTaskPopup fieldset textarea:focus {
    outline: none;
}

.newTaskPopup fieldset textarea {
    max-height: 80px;
    height: 80px;
    width: 100%;
    resize: none;
    border:none;
    background-color: var(--rightSideBg);
    font-family: var(--font);
    padding: .5em;
    margin: 0.5em 0px;
    color: var(--inputColor);
}

.newTaskPopup fieldset button {
    width: 100%;
    background-color: var(--mainColor);
    cursor: pointer;
    padding:.5em;
    border:none;
    border-radius: 20px;
    color:var(--secondColor);
    font-weight: var(--bold);
    font-family: var(--font);
    font-size: 1rem;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-auto-flow: column;
    column-gap: 5px;
    transition: all .2s ease-in;
}

.newTaskPopup fieldset button:hover {
    background-color: var(--hoverColor);
}

.newTaskPopup fieldset button:disabled {
    background-color: var(--disabled);
}

.newTaskPopup fieldset button:hover:disabled {
    background-color: var(--disabled);
}


.newTaskWrapper ul {
    margin: 0px 0px .5em 1.5em;
    grid-column: 1 / 3;
}

.newTaskWrapper li {
    list-style-type: none;
    padding:.5em 0px;
    display:grid;
    grid-template-rows: 1fr 2fr;
    grid-template-columns: 20px 1fr 55px;
    row-gap:5px;
}

.taskCheckDiv {
    grid-row: 1 / 3;
}

.taskCheckDiv input[type="checkbox"] {
    --dim: 15px;
    appearance:none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    height: var(--dim);
    width: var(--dim);
    border-radius: 7px;
    background-color: var(--incomplete);
}

.taskCheckDiv input[type="checkbox"]:checked {
    background-color: var(--complete);
}

.taskNameDiv {
    font-size: .9rem;
    color: var(--text);
}

.taskDescDiv {
    font-size: .8rem;
    color: #a9a9a9;
    font-style: italic;
    grid-column: 2 / 3;
}

/* task editors  */

.taskEditDelDiv {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.taskEditDelDiv .material-symbols-outlined {
    cursor: pointer;
    font-size: 1.1rem;
    color: #bbb;
    padding: 0.1em 0.1em;
}

@media only screen and (max-width: 920px) {
    .wrapper {
        grid-template-columns: 1fr;
        grid-template-rows: 70px 5fr 105px;
    }

    .sideBar {
        height: 105px;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-column: 1 / 2;
        grid-row: 3 / 4;
        overflow-x: hidden;
        position: fixed;
        width: 100%;
        bottom: 0px;
    }

    .listWrapper {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        margin:0px;
        overflow-y:hidden;
        overflow-x: hidden;

    }

    .listWrapper > div {
        margin:0px 0px 1em 0px;
        position: relative;
        grid-template-columns: 1fr;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 45px;
    }

    .listWrapper span {
        display: block;
        margin:0px 0px 0px 0em;
        padding:.6em 0px;
        color: var(--text);
    }

    .listWrapper > div > div {
        align-items: start;
        padding:.5em 0px 0px 0px;
        position: absolute;
        top: -6px;
        right:35px;

    }

    .listWrapper > div:hover::after,
    .listWrapper > div.active::after {
        width:25vw;
    }

    .listWrapper > div > div > div {
        --dim: 22px;
        width: var(--dim);
        height: var(--dim);
        font-size: .8rem;
    }

    .newProjectPopup {
        --width: 320px;
    }

    .newTaskPopup {
        --width: 300px;
    }

    .projNodeWrapper {
        grid-template-columns: 2px 1fr 1fr 1fr;
    }
    
    .projStartDiv, .projEndDiv {
        font-size: .9rem;
    }

    .newProjectButton button {
        align-self:none;
}
}

@media only screen and (max-width: 425px) {

    .topBar > h1 {
        font-size: 7vw;
    }

 }

/* display None */
/* keep this at the bottom  */
.displayNone {
    display: none;
}

